<!DOCTYPE html>
<html>
<head>
  <title>Pocketbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
</head>
<body>


<div class="header">
  <div class="container">
  	
    <img src="http://s3.amazonaws.com/codecademy-content/projects/pocketbook/logo.svg">
  </div>
</div>

<%= yield %>

<div class="footer">
	<div class="container">
        <ul>
          <li><%= link_to "Contact", 'contact' %></li>
          <li><%= link_to "Help", 'help' %></li>
          <li><%= link_to "About", 'about' %></li>
        </ul>
     </div>
</div>

</body>
</html>
